<DIV class="footer-mid-warper p-tb-20">

    <DIV class="col-sm-2">
    </DIV>

    <DIV class="col-sm-4">
        <DIV class="lxwm">
            <UL class="ul-n">
                <LI>地址：武汉市洪山区野芷湖西路10号</LI>
                <LI>邮编：430064</LI>
                <LI>校训：<A title="手机浏览时点击直接拨打" href="tel:02759751818" data-toggle="tooltip"
                          data-placement="top">修为求实，通博致用</A></LI>
                <LI>电话：<A title="手机浏览时点击直接拨打" href="tel:02759751234" data-toggle="tooltip"
                          data-placement="top">0027－81805555</A>（招生咨询）</LI></UL></DIV>
    </DIV>
    <DIV class="col-sm-4">
        <DIV class="footer-logo"><IMG class="img-responsive" src="img/cr.jpg">
            </IMG></DIV></DIV>
    <DIV class="container">
        <DIV class="row">
            <DIV class="col-sm-2">
            </DIV>
        </DIV>
    </DIV>
</DIV>



</body></html>