<include file="header" />

<!--内容部分-->		 <section data-brackets-id="222" class="content-con list-page p-tb-15">
    <div data-brackets-id="223" class="container">
        <div data-brackets-id="224" class="row">
            <div data-brackets-id="225" class="col-md-9 col-xs-12 m-b-20">
                <volist name="Leavinglist" id="leaving">
                <div data-brackets-id="226" class="blog-post-item blog-y-bc">
                    <p data-brackets-id="227" class="b-p" style="word-wrap:break-word"><span data-brackets-id="228" class="label label-primary">主题：</span>{$leaving.title}</p>
                    <p data-brackets-id="229" class="b-p" style="word-wrap:break-word"><span data-brackets-id="230" class="label label-success">内容：</span>
                        {$leaving.content}
                    </p>
                    <p data-brackets-id="231" class="b-p m-b-20" style="word-wrap:break-word"><span data-brackets-id="232" class="label label-danger">回复：</span>
                        {$leaving.answer} </p>
                    <ul data-brackets-id="233" class="blog-post-info list-inline">
                        <li data-brackets-id="234"><a data-brackets-id="235"><i data-brackets-id="236" class="fa fa-clock-o"></i>										 <span data-brackets-id="237" class="font-lato">{$leaving.create_time}</span></a>								 </li>
                        <li data-brackets-id="238"><a data-brackets-id="239"><i data-brackets-id="240" class="fa fa-user"></i>									  <span data-brackets-id="241" class="font-lato">姓名： {$leaving.name}</span></a>								 </li></ul></div>
                </volist>

                <!--填表发布-->
                <div data-brackets-id="306" class="go-input"><button type="button" target="_self" data-toggle="modal" class="btn btn-sm btn-primary" href="#modal-form1"> <i data-brackets-id="308" class="fa fa-pencil-square-o">&nbsp;</i>点击这里留言</button>
                </div><!--页码-->
                {$page}
                </div>
            <div data-brackets-id="337" class="listcon kjtd col-md-3 col-xs-12">

                <div data-brackets-id="359" class="black-hr"><a data-brackets-id="360">
                    <h4 data-brackets-id="361">快捷通道</h4></a> </div>
                <div data-brackets-id="362" class="btn-item row p-tb-20">
                    <volist  name="position['快速通道']['content']" id="tongdao">
                    <div data-brackets-id="363" class="col-md-6 col-xs-3">
                        <div data-brackets-id="364" class="btn-box"><a data-brackets-id="365" href="{$tongdao.url}" target="_blank">
                            <p data-brackets-id="366"><i data-brackets-id="367" class="fa fa-ico01 fa-2x"></i></p>
                            <h5 data-brackets-id="368">{$tongdao.title}</h5></a></div></div>
                    </volist>
                    </div></div></div></div></section><!--内容下半部-->
</div>
<div id="modal-form1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">留言</h3>

                        <p>发布留言</p>
                        <form role="form">
                            <input type="hidden" id="menuid" name="menuid">
                            <div class="form-group">
                                <label>名字：</label>
                                <input type="text" placeholder="请输入您的名字" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label>邮箱：</label>
                                <input type="email" placeholder="请输入邮箱" class="form-control" id="email" name="email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="getcode" type="button"><strong>获取邮箱验证码</strong></button>
                            </div>
                            <div class="form-group">
                                <label>验证码：</label>
                                <input type="text" placeholder="请输入验证码" class="form-control" id="code" name="code">
                            </div>
                            <div class="form-group">
                                <label>主题：</label>
                                <input type="text" placeholder="请输入主题" class="form-control" id="title" name="title">
                            </div>
                            <div class="form-group">
                                <label>内容：</label>
                                <input type="text" placeholder="请输入内容" class="form-control" id="content" name="content">
                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="leavingmsg" type="button"><strong>保存</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(function(){
            $("#getcode").click(function(){
                if($("#email").val() ==""){
                    alert("请先输入您的邮箱地址");
                }else{
                    var ischeck =  check($("#email").val());
                    if(ischeck){
                        $.post("http://localhost/yitian/index.php/leavingmsg/sendMail",{email:$("#email").val()},function(result){
                            if(result.status == 200){
                                alert("123");
                            }
                            console.log(JSON.stringify(result));
                        });
                        $("#getcode strong").text("一分钟后才重新可获取");
                        $("#getcode").attr("disabled",true);
                        setTimeout('$("#getcode").attr("disabled",true)',60000);
                    }
                    }
            })

            $("#leavingmsg").click(function(){
                $.post("http://localhost/yitian/index.php/leavingmsg/Leaving",$("form").serialize(),function(result){
                    if(result.status == 200){
                        alert(result.message);
                    }
                    $("#leavingmsg").attr("disabled",true);
                    //console.log(JSON.stringify(result));
                });
            })
        })
        function check( email_address )
        {
            var regex = /^([0-9A-Za-z\-_\.]+)@([0-9a-z]+\.[a-z]{2,3}(\.[a-z]{2})?)$/g;
            if ( regex.test( email_address ) )
            {
                return true;
            }
            else
            {
                window.alert( "您输入的电子邮件地址不合法" );
                return false;
            }
        }
    </script>
<include file="Index/footer" />