ul {
	list-style: none; margin: 0px; padding: 0px;
}
li {
	list-style: none; margin: 0px; padding: 0px;
}
* {
	font-family: "Microsoft YaHei","STHeiti","ËÎÌå","arial";
}
.page-wrapper {
	overflow: hidden; min-height: 100%;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: rgb(218, 69, 83);
}
.relative {
	position: relative;
}
.logo-con {
	border-top-color: rgba(255, 255, 255, 0.2); border-bottom-color: rgba(255, 255, 255, 0.2); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgba(47, 80, 157, 0.6);
}
header {
	margin: 0px auto; left: 0px; top: 0px; width: 1200px; right: 0px; position: absolute; z-index: 99; box-shadow: 0px 2px 5px rgba(0,0,0,0.55); background-color: rgba(47, 80, 157, 0.65);
}
.p-tb-4 {
	padding-top: 4px; padding-bottom: 4px;
}
.p-tb-8 {
	padding-top: 8px; padding-bottom: 8px;
}
.top-search {
	width: 230px; margin-top: 35px;
}
.container.top-con {
	color: rgb(255, 255, 255);
}
.container.top-con a {
	padding: 0px 12px; color: inherit;
}
.container.top-con a i {
	padding: 0px 4px;
}
.in-select {
	border: 1px solid rgb(204, 204, 204); transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; border-image: none; width: 30%; height: 34px; float: left; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.navbar-inverse {
	border-color: transparent; background-color: transparent;
}
.navbar-inverse .navbar-brand {
	color: rgb(157, 157, 157);
}
.navbar-inverse .navbar-brand:hover {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-brand:focus {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-text {
	color: rgb(157, 157, 157);
}
.navbar-inverse .navbar-nav > li > a {
	transition:0.3s ease-in-out; color: rgb(255, 255, 255); font-size: 1.15em; border-right-color: transparent; border-left-color: transparent; border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: rgb(255, 255, 255); border-right-color: rgba(0, 0, 0, 0.3); border-left-color: rgba(0, 0, 0, 0.3); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgba(47, 80, 157, 0.6);
}
.navbar-inverse .navbar-nav > li > a:focus {
	color: rgb(255, 255, 255); border-right-color: rgba(0, 0, 0, 0.3); border-left-color: rgba(0, 0, 0, 0.3); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgba(47, 80, 157, 0.6);
}
.navbar-inverse .navbar-nav > .active > a {
	color: rgb(255, 255, 255); font-size: 1.15em; border-right-color: rgba(0, 0, 0, 0.3); border-left-color: rgba(0, 0, 0, 0.3); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgba(47, 80, 157, 0.6);
}
.navbar-inverse .navbar-nav > .active > a:hover {
	color: rgb(255, 255, 255); font-size: 1.15em; border-right-color: rgba(0, 0, 0, 0.3); border-left-color: rgba(0, 0, 0, 0.3); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgba(47, 80, 157, 0.6);
}
.navbar-inverse .navbar-nav > .active > a:focus {
	color: rgb(255, 255, 255); font-size: 1.15em; border-right-color: rgba(0, 0, 0, 0.3); border-left-color: rgba(0, 0, 0, 0.3); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgba(47, 80, 157, 0.6);
}
.navbar-inverse .navbar-nav > .disabled > a {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-nav > .disabled > a:hover {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-nav > .disabled > a:focus {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-collapse {
	border-color: rgba(16, 16, 16, 0.1);
}
.navbar-inverse .navbar-form {
	border-color: rgba(16, 16, 16, 0.1);
}
.navbar-inverse .navbar-nav > .open > a {
	color: rgb(255, 255, 255); background-color: rgb(8, 8, 8);
}
.navbar-inverse .navbar-nav > .open > a:hover {
	color: rgb(255, 255, 255); background-color: rgb(8, 8, 8);
}
.navbar-inverse .navbar-nav > .open > a:focus {
	color: rgb(255, 255, 255); background-color: rgb(8, 8, 8);
}
@media all and (max-width:767px)
{
.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
	border-color: rgb(8, 8, 8);
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: rgb(8, 8, 8);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: rgb(157, 157, 157);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a {
	color: rgb(255, 255, 255); background-color: rgb(8, 8, 8);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
	color: rgb(255, 255, 255); background-color: rgb(8, 8, 8);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: rgb(255, 255, 255); background-color: rgb(8, 8, 8);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
	color: rgb(68, 68, 68); background-color: transparent;
}
}
.navbar-inverse .navbar-link {
	color: rgb(157, 157, 157);
}
.navbar-inverse .navbar-link:hover {
	color: rgb(255, 255, 255);
}
.navbar-inverse .btn-link {
	color: rgb(157, 157, 157);
}
.navbar-inverse .btn-link:hover {
	color: rgb(255, 255, 255);
}
.navbar-inverse .btn-link:focus {
	color: rgb(255, 255, 255);
}
.navbar-inverse [disabled].btn-link:hover {
	color: rgb(68, 68, 68);
}
fieldset[disabled] .navbar-inverse .btn-link:hover {
	color: rgb(68, 68, 68);
}
.navbar-inverse [disabled].btn-link:focus {
	color: rgb(68, 68, 68);
}
fieldset[disabled] .navbar-inverse .btn-link:focus {
	color: rgb(68, 68, 68);
}
.navbar-inverse.navbar {
	border: 0px currentColor; border-image: none; margin-bottom: 0px;
}
.top-nav.container {
	padding-right: 0px; padding-left: 0px;
}
.navbar-collapse#menu {
	padding-right: 0px; padding-left: 0px;
}
#menu .navbar-nav.nav {
	width: 100%;
}
#menu .navbar-nav.nav > li {
	width: 16.6%; display: inline-block;
}
#menu .navbar-nav.nav > li .nav-warp {
	padding: 2em 0px; transition:0.3s ease-in-out; left: 0px; width: 100%; visibility: hidden; position: absolute; z-index: 2; opacity: 0; background-color: rgba(12, 27, 64, 0.8); -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;
}
#menu .navbar-nav.nav > li:hover .nav-warp {
	visibility: visible; opacity: 1;
}
body .page-wrapper header * {
	position: static;
}
.sr-only {
	position: absolute !important;
}
#menu .navbar-nav.nav > li .nav-warp [class*='col-'] ul > li {
	width: 33%; border-right-color: rgba(255, 255, 255, 0.3); border-right-width: 1px; border-right-style: solid; float: left;
}
#menu .navbar-nav.nav > li .nav-warp [class*='col-'] ul > li:nth-child(3n) {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
#menu .navbar-nav.nav > li .nav-warp [class*='col-'] ul > li > a {
	transition:0.3s ease-in-out; color: rgb(221, 221, 221); line-height: 2; border-left-color: transparent; border-left-width: 1px; border-left-style: solid; display: inline-block; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;
}
#menu .navbar-nav.nav > li .nav-warp [class*='col-'] ul > li > a:hover {
	color: rgb(218, 69, 83);
}
.swiper-slide .img-responsive {
	width: 100%;
}
.flexslider li {
	position: relative;
}
.flexslider li .meta {
	background: rgba(67, 114, 193, 0.5); padding: 0px 12px; left: 10%; bottom: 10%; color: white; overflow: hidden; position: absolute;
}
.flexslider li.flex-active-slide .meta {
	animation:fadeInRight 0.5s ease-out 0.3s both; -webkit-animation: fadeInRight .5s ease-out both .3s;
}
.flexslider li.flex-active-slide .meta h1 {
	animation:fadeInLeft 0.8s ease-out 0.3s both; -webkit-animation: fadeInLeft .8s ease-out both .3s;
}
.flexslider li.flex-active-slide .meta h2 {
	animation:fadeInLeft 0.8s ease-out 0.3s both; -webkit-animation: fadeInLeft .8s ease-out both .3s;
}
.flexslider li.flex-active-slide .meta p {
	animation:fadeInLeft 0.8s ease-out 0.3s both; -webkit-animation: fadeInLeft .8s ease-out both .3s;
}
.flexslider li.flex-active-slide .meta h1 {
	animation-delay: 0.6s; -webkit-animation-delay: .6s;
}
.flexslider li.flex-active-slide .meta h2 {
	animation-delay: 0.8s; -webkit-animation-delay: .8s;
}
.flexslider li.flex-active-slide .meta p {
	animation-delay: 1s; -webkit-animation-delay: 1s;
}
#slider {
	margin-bottom: 20px;
}
.content-con .con-title h4 {
	color: rgb(67, 114, 192); font-size: 1.4em; font-weight: bold; display: inline-block;
}
.content-con .con-title small {
	margin-left: 0.4em;
}
.content-con .con-title a.pull-right {
	padding: 6px; bottom: -5px; color: rgb(153, 153, 153); position: relative;
}
.content-con .kjtd a.pull-right {
	padding: 6px; bottom: -5px; color: rgb(153, 153, 153); position: relative;
}
.black-hr {
	position: relative;
}
.blue-hr {
	position: relative;
}
.black-hr::before {
	left: 0px; width: 100%; height: 0px; bottom: 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; position: absolute; content: "";
}
.blue-hr::after {
	left: 0px; width: 200px; height: 0px; bottom: 0px; border-bottom-color: rgb(67, 114, 192); border-bottom-width: 1px; border-bottom-style: solid; position: absolute; content: "";
}
.slider02.flexslider {
	width: 100%; margin-top: 8px;
}
.slider02.flexslider li {
	max-height: 330px;
}
.slider02.flexslider li .meta02 {
	padding: 6px 0px; left: 0%; width: 100%; bottom: 0%; color: white; position: absolute; background-color: rgba(0, 0, 0, 0.25);
}
.slider02.flexslider li .meta02 h4 {
	width: 80%; text-indent: 1em; overflow: hidden; font-size: 1.2em; font-weight: bold; border-left-color: rgb(58, 120, 193); border-left-width: 4px; border-left-style: solid; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.slider02.flexslider li.flex-active-slide .meta02 {
	animation:fadeInLeft 0.8s ease-out 0.6s both; -webkit-animation: fadeInLeft .8s ease-out both .6s;
}
.slider02.flexslider .flex-control-nav {
	width: auto; right: 10px;
}
.slider02 .flex-control-paging li a {
	border: 1px solid rgba(255, 255, 255, 0.5); border-image: none; width: 16px; height: 6px;
}
.p-tb-15 {
	padding: 15px 0px;
}
.p-tb-20 {
	padding: 20px 0px;
}
.m-tb-12 {
	margin: 12px 0px;
}
.news ul li > a {
	transition:0.2s ease-in-out; color: rgb(102, 102, 102); line-height: 2.4; text-indent: 1em; overflow: hidden; display: block; white-space: nowrap; position: relative; -ms-text-overflow: ellipsis; -webkit-transition: all 0.2s ease-in-out 0s; -moz-transition: all 0.2s ease-in-out 0s; -o-transition: all 0.2s ease-in-out 0s;
}
.news ul > li > a::before {
	padding: 2px; transition:0.2s ease-in-out; left: 0px; top: calc(50% - 2px); width: 4px; display: block; position: absolute; content: ""; background-color: rgb(56, 111, 193); -webkit-transition: all 0.2s ease-in-out 0s; -moz-transition: all 0.2s ease-in-out 0s; -o-transition: all 0.2s ease-in-out 0s;
}
.news ul > li > a:hover::before {
	left: 5px;
}
.news ul > li:first-child > a {
	color: rgb(51, 51, 51); font-size: 16px;
}
.news ul > li > a:hover {
	color: rgb(218, 69, 83);
}
.news ul > li:first-child > a::before {
	padding: 3px; top: calc(50% - 3px); background-color: rgb(219, 68, 83);
}
.kjtd .black-hr h4 {
	color: rgb(102, 102, 102); text-indent: 0.3em; font-size: 1.15em; font-weight: bold; margin-top: 12px; margin-bottom: 12px; border-left-color: rgb(58, 120, 193); border-left-width: 4px; border-left-style: solid; display: inline-block;
}
.btn-item .btn-box a {
	padding: 10px 0px; border-radius: 4px; text-align: center; color: rgb(255, 255, 255); display: block; background-color: rgb(67, 114, 193);
}
.btn-item .btn-box a h5 {
	margin-bottom: 0px;
}
.kjtd .btn-item .col-md-6 {
	padding: 4px;
}
.btn-box * {
	transition:0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;
}
.btn-box > a {
	overflow: hidden; position: relative;
}
.btn-box > a::after {
	background: rgba(255, 255, 255, 0.15); transition:0.3s ease-in; top: 0%; width: 0%; height: 100%; right: 0%; display: block; position: absolute; z-index: 1; content: ""; box-sizing: border-box; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;
}
.btn-box > a:hover::after {
	left: 0%; width: 100%;
}
.news-2.news {
	margin-top: 1em;
}
.news-2.news ul > li > a {
	color: rgb(102, 102, 102); line-height: 2.2; text-indent: 0em; font-size: inherit;
}
.news-2.news ul > li > a:hover {
	color: rgb(218, 69, 83); text-indent: 0.2em;
}
.news-2.news ul > li > a::before {
	content: none;
}
footer {
	margin-top: 40px;
}
.footer-top-warper {
	color: rgb(51, 51, 51);
}
.footer-top-warper {
	background-color: rgb(248, 247, 243);
}
.ul-fl.ul-n li {
	float: left;
}
.ul-n li {
	transition:0.3s ease-in; color: rgb(51, 51, 51); -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;
}
.ul-n li a {
	transition:0.3s ease-in; color: rgb(51, 51, 51); -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;
}
.ul-n li a:hover {
	color: rgb(219, 68, 83);
}
.part-l .ul-n li {
	margin: 12px 0px; width: 25%;
}
.foot-img-btn > a {
	text-align: center; overflow: hidden; display: block; position: relative; max-width: 160px;
}
.foot-img-btn > a img {
	width: 100%; height: auto;
}
.foot-img-btn > a p {
	background: linear-gradient(to top, rgb(67, 114, 192), rgba(67, 114, 192, 0)); margin: 0px; padding: 20px 0px 5px; transition:0.3s ease-in; left: 0px; width: 100%; bottom: 0px; color: rgb(255, 255, 255); font-weight: bold; position: absolute; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;
}
.foot-img-btn > a:hover p {
	padding: 50px 0px 20px;
}
.footer-mid-warper {
	color: rgb(102, 102, 102); background-color: rgb(224, 224, 224);
}
.weixin {
	text-align: center;
}
.footer-logo {
	text-align: center;
}
.weixin .qrcode {
	margin: 15px 20px 0px; display: inline-block;
}
.weixin .img-responsive {
	display: inline-block;
}
.footer-logo .img-responsive {
	display: inline-block;
}
.weixin p {
	margin-top: 5px;
}
.lxwm .ul-n {
	left: 50%; line-height: 2.4; margin-left: -8em; position: relative;
}
.lxwm .ul-n li {
	color: rgb(102, 102, 102);
}
.lxwm .ul-n li a {
	color: rgb(102, 102, 102); border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dotted;
}
.lxwm .ul-n li a:hover {
	color: rgb(219, 68, 83); border-bottom-color: rgb(219, 68, 83); border-bottom-width: 1px; border-bottom-style: dotted;
}
.footer-end-warper {
	color: rgb(223, 223, 223); border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; background-color: rgb(101, 0, 8);
}
.footer-end-warper p {
	padding: 0px 1em; margin-bottom: 0px;
}
.foot-img-btn p {
	¡¡width: 100px;
}
#conhead .head-bg {
	background: url("../images/headbg.jpg") no-repeat center / cover; height: 400px; position: relative;
}
.overlay {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute; background-color: rgba(50, 94, 169, 0.3);
}
.bg-title {
	margin: 0px auto; top: 65%; width: 100%; position: absolute; z-index: 2;
}
.bg-title h2 {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255);
}
.bg-title h4 {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255);
}
.bg-title h2 {
	font-weight: bold; margin-bottom: 0.4em; display: inline-block; position: relative;
}
.bg-title h2::before {
	background: rgba(67, 114, 193, 0.5); top: -7px; width: 100%; height: 150%; display: block; position: absolute; z-index: -1; content: ""; box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
}
.bg-title h2::after {
	background: rgba(67, 114, 193, 0.5); top: -7px; width: 100%; height: 150%; display: block; position: absolute; z-index: -1; content: ""; box-shadow: 0px 2px 0px rgba(255,255,255,0.5);
}
.bg-title h2::before {
	animation:fadeInLeft 1s 1s both; right: 50%; border-right-color: currentColor; border-right-width: medium; border-right-style: none; -webkit-animation: fadeInLeft 1s both 1s;
}
.bg-title h2::after {
	animation:fadeInRight 1s 1s both; left: 50%; border-left-color: currentColor; border-left-width: medium; border-left-style: none; -webkit-animation: fadeInRight 1s both 1s;
}
.head-bg {
	animation:bg-right 30s ease-out both; -webkit-animation: bg-right 30s ease-out both;
}
.bread {
	background: rgba(67, 114, 193, 0.5); padding: 6px 24px; border-radius: 4px; border: 1px solid rgb(67, 114, 193); border-image: none; left: 2em; bottom: 1em; color: rgb(255, 255, 255); position: absolute;
}
.bread a {
	color: rgb(255, 255, 255);
}
.listcon .btn-box * {
	color: rgb(67, 114, 192); display: inline-block;
}
.listcon .btn-item .btn-box a {
	background: none; border: 1px solid rgb(67, 114, 192); border-image: none;
}
.listcon .btn-box > a::after {
	background: rgba(67, 114, 192, 0.15); z-index: -1;
}
.kjtd .row.aside-nav > .col-md-12 {
	padding-right: 0px; padding-left: 0px;
}
.news-3.news-2.news ul > li > a {
	line-height: 3; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.kjtd .row.btn-item {
	margin-right: 0px; margin-left: 0px;
}
.kjtd .row.aside-nav {
	margin-right: 0px; margin-left: 0px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.jt.news-3.news-2.news ul > li > a::after {
	right: 0.5em; font-family: fontawesome; position: absolute; content: "\f101";
}
.jt.news-3.news-2.news ul > li > a::before {
	background: rgba(187, 187, 187, 0.15); transition:0.5s cubic-bezier(0.2, 1, 0.3, 1); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: -1; content: ""; opacity: 0; transform: scale3d(1, 0.1, 1); -webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); -webkit-transform: scale3d(1, 0.1, 1);
}
.jt.news-3.news-2.news ul > li > a:hover::before {
	opacity: 1; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0);
}
.blog-post-item {
	margin-bottom: 40px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted; display: block; position: relative;
}
.blog-post-item * {
	transition:0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;
}
.blog-post-item .text-y-blue {
	line-height: 1.75;
}
.text-y-blue {
	color: rgb(51, 51, 51);
}
ul.blog-post-info {
	padding-bottom: 20px; display: block;
}
ul.blog-post-info li {
	margin-right: 20px;
}
ul.blog-post-info li > a {
	color: rgb(136, 136, 136);
}
ul.blog-post-info li i {
	color: rgb(136, 136, 136); margin-right: 5px;
}
#conhead {
	margin-bottom: 20px;
}
h1.blog-post-title {
	line-height: 1.6; font-size: 24px; font-weight: 600; margin-bottom: 0px;
}
.list-page.content-con .content-area img {
	width: auto; height: auto; margin-bottom: 0px !important; display: inline-block; max-width: 800px;
}
.list-page.content-con .content-area img {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area p {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area span {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area pre {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area ul {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area ol {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area dl {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area dd {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area blockquote {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area address {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area table {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area fieldset {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area form {
	color: rgb(102, 102, 102); line-height: 1.6; margin-bottom: 1.5em;
}
.list-page.content-con .content-area a:hover {
	color: rgb(67, 114, 192) !important;
}
.list-page.content-con .content-area a > span:hover {
	color: rgb(67, 114, 192) !important;
}
.list-page.content-con .content-area a > span > span:hover {
	color: rgb(67, 114, 192) !important;
}
.list-page.content-con .content-area a {
	color: rgb(102, 102, 102) !important;
}
.list-page.content-con .content-area a > span {
	color: rgb(102, 102, 102) !important;
}
.list-page.content-con .content-area a > span > span {
	color: rgb(102, 102, 102) !important;
}
.list-page.content-con .content-area span {
	margin-bottom: 0px;
}
.list-page.content-con .content-area ul {
	
}
.list-page.content-con .content-area li {
	
}
.list-page.content-con .content-area ul {
	padding-left: 1em;
}
.active.text-y-blue {
	color: rgb(219, 68, 83);
}
.img-item-warp {
	padding: 6px 0px; position: relative;
}
.img-item .img-item-warp > a {
	width: 100%; height: 100%; overflow: hidden; display: block;
}
.img-item .img-item-warp > a > img {
	transition:0.5s ease-in-out; width: 100%; height: 180px; transform: scale(1); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -webkit-transform: scale(1); -o-transform: scale(1); -moz-transform: scale(1);
}
.img-item .img-item-warp > a:hover > img {
	transform: scale(1.1); -webkit-transform: scale(1.2); -o-transform: scale(1.1); -moz-transform: scale(1.1);
}
.img-item .img-item-warp > p > a {
	padding: 6px; transition:0.35s ease-in-out; width: 100%; display: block; -webkit-transition: all 0.35s ease-in-out; -moz-transition: all 0.35s ease-in-out;
}
.blog-post-item .label {
	margin-right: 0.5em;
}
.blog-post-item .b-p {
	line-height: 2; font-size: 1.15em;
}
.yzxx-form {
	padding: 1em 0px;
}
.yzxx-form tr td {
	padding: 12px 6px !important;
}
.yzxx-form tr > td:first-child {
	width: 20%;
}
.yzxx-form tr > th:first-child {
	width: 20%;
}
.list-page.content-con .content-area a {
	color: rgb(67, 114, 192) !important; border-bottom-color: rgb(67, 114, 192); border-bottom-width: 1px; border-bottom-style: solid;
}
.list-page.content-con .content-area a > span {
	color: rgb(67, 114, 192) !important; font-weight: bold;
}
