
<TABLE width="963" align="center" border="0" cellspacing="0" cellpadding="0">
    <TBODY>
    <TR>
        <TD>
            <STYLE type="text/css">
                <!--
                .STYLE1 {color: #7c7c7c}
                -->
            </STYLE>

            <TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
                <TBODY>
                <TR>
                    <TD width="438" style="color: rgb(124, 124, 124); font-size: 12px;">
                        <P>武汉市　邮编：430064<BR>Copyright  © 武汉城市职教集团<BR>
                            All Rights Reserved　　</P></TD>
                    <TD width="378"
                        style="color: rgb(124, 124, 124); font-size: 12px;">网站管理：网络中心
                        <BR>招生资讯：0027－81805555 　<BR>地址：武汉市洪山区野芷湖西路10号            </TD>

                    <TD width="144" align="right" valign="top"><IMG src="__PUBLIC__/img/cr.jpg"></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
</BODY></HTML>
